body {
  height: 100vh;
  background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top, bottom;
  background-repeat: no-repeat;
}

main {
  width: 140rem;
  height: 100%;
  margin: 0 auto;
}

.main-description {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 5rem;
}

.main-description-container {
  width: 34%;
  text-align: left;
}

.reviews {
  display: flex;
  width: 75%;
  gap: 3rem;
}

.stars-rated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47rem;
  height: 23rem;
}

.star-card {
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  max-width: 4000rem;
  width: 40rem;
  height: 5rem;
  padding: 0 2.5rem;
  margin-bottom: 1.5rem;
}


.stars-rated article:nth-child(2) {
  margin-left: 3rem;
}

.stars-rated article:nth-child(3) {
  margin-left: 6rem;
}

.star-card__stars {
  margin-right: 2rem;
}

.review-card {
  max-height: 20rem;
}

.reviews article:nth-child(2) {
  margin-top: 2rem;
}

.reviews article:nth-child(3) {
  margin-top: 4rem;
}